// COLOR VARIABLES
$color-primary: #d4b572;
$color-primary-dark: #cca758;

$color-secondary: #003740;

$color-tertiary: #b15a5e;

$color-grey-light-1: #fff5e0;
$color-grey-light-2: #ffeabe;

$color-grey-dark-1: #7a5300;
$color-grey-dark-2: #583c00;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
